body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100vh;
}
.content-flex{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 1px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(8, 86, 158);
    box-shadow: 0px 1px 10px;
}

.header button{
    color: white;
    outline: none;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: large;
    background-color: #08569E;
    border-radius: 8px;
    transition-duration: 300ms;
}
.menu-important{
    background-image: url("./icons/starUnClicked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
}
.menu-completed{
    background-image: url("./icons/completed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
}
.header button:hover{
    background-color: rgb(8, 67, 122);
}
.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 226, 231);
}
.to-do-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(145, 145, 145);
    line-height: 0px;
    text-align: center;
}
.form-important{
    background-image: url("./icons/starUnClicked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    margin-left: 2%;
}
.form-important-clicked{
    background-image: url("./icons/starClicked.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    margin-left: 2%;
}

.form-checkbox{
    width: 35px;
    height: 35px;
    background-color: red;
}
input[type="checkbox"]{
    height: 35px;
    width: 35px;
    margin: 1px;
}
.to-do-checkbox{
    margin-left: 7px;
    width: 30px;
    outline: none;
    border: none;
    background: #F0F0F0;
    background-image: url(./icons/checkboxUn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
}

.to-do-checkbox-unchecked{
    margin-left: 7px;
    justify-self: start;
    width: 30px;
    outline: none;
    border: none;
    background: #F0F0F0;
    background-image: url(./icons/checkboxCh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.to-do-item{
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    height: auto;
    width: 100%;
    font-size: larger;
}

label{
    line-height: 36px;
    width: 80%;
}
.to-do-item input:checked + label{
    text-decoration: line-through;
}
.delete-button{
    margin-right: 7px;
    width: 35px;
    height: 35px;
    border: 0;
    outline: none;
    background-color: rgb(240, 240, 240);
    background-image:url("./icons/garbageBlack.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    transition-duration: 300ms;
}
.delete-button:hover{
    background-image:url("./icons/garbageRed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
}


.set-date{
    grid-row: 2;
    grid-column: 1 / span 2;
    border:0;
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 30px;
    outline: none;
    text-align: center;
}
.add-task-form-hide{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(223, 223, 223);
    display: none;
    flex-flow: column;
}
.add-item-form{
    display: flex;
}
.time-reminder{
    text-align: center;
    width: 41px;
    justify-self: center;
    background-color: #DFDFDF;
    outline: none;
    border: none;
    grid-row: 3;
    grid-column: 1 /span 2;
    color: black;
}
.time-reminder-label{
    grid-row: 3;
    grid-column: 1 /span 2;
    font-size: 15px;
    margin-left: 29px;
    width: 130px;
}
.time-reminder::before{
    content: "remind me";
    background: black;
    width: 10px;
    height: 10px;
}
.time-reminder::after{
    content: "minutes before";
}


.completed-container{
    position: fixed;
    top: 50px;
    display: none;
    width: 48%;
    height: auto;
    padding: 10px;
    background-color: #08569E;
    color: white;
    flex-flow: column;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 5px 5px 50px -2px rgb(117, 117, 117);
}
.text-completed{
    width: 100%;
    height: 100%;
    text-align: center;
    height: 25px;
    line-height: 24px;
}
.text-completed::after{
    content: url("./icons/checkboxCh.png");
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.add-task-form-hide .form-input-text{
    grid-column: 1 / span 2;
    margin-left: 4%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: rgb(145, 145, 145);
    background-color: rgb(223, 223, 223);
    width: 93%;
    height: 25px;
    outline: none;
}
.add-task-form-hide form{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}

.add-task-form-hide .form-input-submit{
    border: 0;
    grid-row: auto;
    grid-column: 2;
    margin-top: 10px;
    margin-right: 5%;
    background-color: rgb(8, 86, 158);
    color: white;
    outline: none;
    border-radius: 10%;
    height: 30px;
    justify-self: end;
    transition-duration: 300ms;
}
.add-task-form-hide .form-input-submit:hover{
    background-color: rgb(8, 68, 124);
}

.submit-button{
    z-index: 1;
    border: 0;
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 30px;;
    background-color: rgb(8, 86, 158);
    color: white;
    outline: none;
    position: fixed;
    border-radius: 50%;
    font-size: xx-large;
    transition-duration: 300ms;
}
.submit-button:hover{
    background-color: rgb(8, 68, 124);
}
.to-do-alert-container{
    display: flex;
    width: 100%;
    flex-flow: column;
    flex: 1;
    bottom: 1px;
    position: fixed;
}
.to-do-alert{
    width: 100%;
    height: 35px;
    line-height: 36px;
    font-size: x-large;
    text-align: center;
    border-bottom-color: rgb(145, 145, 145);
    background-color: rgb(223, 223, 223);
    justify-self: end;
    border-bottom: 0.1px outset;
    color: rgb(197, 40, 40);
}
.to-do-alert:hover span{
    display: none;
}
.to-do-alert:hover::before{
    /* content: url("./icons/garbageRed.png"); */
    content: "";
    display: inline-block;
    background-image:url("./icons/garbageRed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 100%;
    height: 20px;
}

.to-do-coment{
    width: 1fr;
    height: 1fr;
    background-color: #F0F0F0;
    border: none;
    border-left: 0;
    border-right: 0;
    display: none;
    line-height: 20px;
    margin: 10px;
    font-size: 15px;
}

.coment-text{
    width: 1fr;
    height: 100px;
    grid-column: 1 / span 2;
    margin: 5px;
    outline: none;
}


